body {
    font-family: "Georgia", serif;
    background: #f5ecd9;
    color: #3b362e;
    margin: 0;
    padding: 0;
}

/* Навигация */
.navbar {
    background-color: #d7c3a3;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #b8a58a;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar a {
    margin: 0 15px;
    color: #3b2f2f;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Контейнер */
.container {
    text-align: center;
    margin-top: 60px;
}

/* Заголовок */
.title {
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Кнопки */
.btn {
    padding: 12px 25px;
    margin: 10px;
    font-size: 18px;
    background-color: #d3c2a5;
    color: #3b362e;
    border: 1px solid #b8a58a;
    border-radius: 7px;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.btn:hover {
    background-color: #c8b394;
    cursor: pointer;
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 50px;
    padding: 15px;
    background-color: #d7c3a3;
    color: #3b362e;
    border-top: 2px solid #b8a58a;
}
